header h1 {
    text-align: center;
    font-size: 50px;
}

.time {
    display: flex;
    margin-left: -5%;
}

.option {
    width: 33%;
    height: 200px;
    margin-left: 5%;
    font-size: 50px;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

.option:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

#timer {
    text-align: center;
    margin-top: 3%;
    font-size: 200px;
}

#start {
    position: absolute;
    font-size: 100px;
    width: 99.5%;
    margin-top: 2%;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

#start:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

#stop {
    visibility: hidden;
    position: absolute;
    width: 99.5%;
    font-size: 100px;
    margin-top: 2%;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

#stop:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

#reset {
    visibility: hidden;
    position: absolute;
    width: 99.5%;
    font-size: 100px;
    margin-top: 2%;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

#reset:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

#result {
    position: relative;
    margin-top: -20%;
}

#result_time {
    text-align: center;
    position: relative;
    font-size: 70px;
    margin-top: -10%;
}

#difference {
    text-align: center;
    position: relative;
    font-size: 70px;
    margin-top: 0%;
}

#comment {
    text-align: center;
    position: relative;
    font-size: 70px;
    margin-top: 2%;
}